venv/
env/
.env
.env/
.venv/
.python-version
htmlcov/
.coverage
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.installed.cfg
*.egg

starwars_api.md
assignment_guide.md
assignment_improvements.md
